APP_NAME=Sistem Segmentasi Pelanggan
APP_DEBUG=False
SECRET_KEY=replace_with_a_strong_secret_key

DB_HOST=localhost
DB_PORT=3306
DB_NAME=segmentasi_pelanggan
DB_USER=segmentasi_user
DB_PASSWORD=replace_with_database_password
DB_ENABLED=True

EXPORT_CSV_PATH=exports/csv/
EXPORT_EXCEL_PATH=exports/excel/
EXPORT_JSON_PATH=exports/json/
